body {
  background-color: lightblue;
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-2020-2560x1440-1455.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

h1 {
  display: flex;
  justify-content: center;
  color: rgb(55, 51, 82);
  text-shadow: 0px 2px 2px rgba(59, 59, 59, 0.616);
  
}

h2 {
display: flex;
justify-content: center;
text-shadow: 0px 2px 2px rgba(59, 59, 59, 0.616);
}

h3 {
display: flex;
justify-content: center;
text-shadow: 0px 2px 2px rgba(59, 59, 59, 0.616);
}

table{
  border-collapse: collapse;
  justify-content: center;
  display: flex;
}

table, th, td {
  
  border-collapse: collapse;
}

th, td{
  padding: 15px;
  text-align: center;
  font-size: 1em;
  border: 1px solid black;
}

tr {
background-color: bisque;
color: black;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
background-color: #5da85f;
color: white;
}

a {
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(47, 10, 151);
  background-image: linear-gradient(darkblue, darkred);
  margin: 5px 10px;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  padding: 1rem;
  transition-timing-function: ease-out;
  transition-duration: 2s;
  transition: width 2s, height 2s;
}

a:hover {
background-color:  rgb(80, 13, 13);
background-image: linear-gradient(rgb(4, 4, 99), rgb(78, 2, 2));
}

li {
  text-align: center;
  font-size: 1em;
  text-shadow: 0px 2px 2px rgba(59, 59, 59, 0.616);
}



form {
text-align: center;



}

.title {
  display: flex;
  justify-content: center;
  color: rgb(55, 51, 82);
  text-shadow: 0px 2px 2px rgba(59, 59, 59, 0.616);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 100px;
  margin: 10px;
}

.colorRed {
  width: 100%;
}

.colorBlue {
  width: 20%;
  flex-direction: column;
  display: flex;
  
}

.colorGreen {
  width: 70%;
}

input {
  border-collapse: collapse;
  padding: 1rem;
  margin: 5px 10px;
  border-radius: 5px;
}

select {
  border-collapse: collapse;
  padding: 1rem;
  margin: 5px 10px;
}