.container {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
}

.nav {
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.nav1 {
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.container3 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
}

.container4 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container5 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container6 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container8 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
}

.container9 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container10 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container11 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container12 {
    background-color: blueviolet;
    width: 70%;
    height: 600px;
    margin: 10px;
    display: flex;
}

.menu {
    padding: 0.75rem;
    margin: 1px;
    background-color: cadetblue;
    text-decoration: none;
    color: brown;
    transition: 0.5s;
}

.menu:hover {
    padding: 1rem;
    margin: 1px;
    background-color: cadetblue;
    text-decoration: none;
    color: brown; 
}

.menu2 {
    padding: 0.75rem;
    margin: 1px;
    background-color: cadetblue;
    text-decoration: none;
    color: brown;
    transition: 0.5s;
    display: block;
}

.menu2:hover {
    margin: 1px;
    background-color: fuchsia;
    text-decoration: none;
    color: goldenrod; 
}

.menu3 {
    padding: 0.75rem;
    margin: 1px;
    background-color: cadetblue;
    text-decoration: none;
    color: brown;
    transition: 0.5s;
    display: block;
}

.menu3:hover {
    margin: 1px;
    border-radius: 40px;
}

.menu4 {
    padding: 0.75rem;
    margin: 1px;
    background-color: cadetblue;
    text-decoration: none;
    color: brown;
    transition: 0.5s;
    display: block;
}

.menu4:hover {
    margin: 1px;
    background-color: rgba(95, 158, 160, 0.397);
}