body {
    background-color: lightblue;
  }
  
h1 {
    display: flex;
    justify-content: center;
    color: rgb(55, 51, 82);
    font-style:oblique ;
    text-shadow: 0px 2px 2px rgba(59, 59, 59, 0.616);
    background-color: rgb(182, 122, 12);
}
table{
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
    text-align: left;
}
tr {
  background-color: bisque;
  color: black;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #5da85f;
  color: white;
}
a {
  text-decoration: none;
  background-color: red;
  padding: 1rem;
  color: black;
}
a:hover {
  background-color: chartreuse;
}
